<a class="c-productCard__box  c-btn__linkBase-r--5 u-hover-img-bg-cover u-hover-color--gray" href="/personal/standard-notebook/c-series/index.html">
  <% if (cat === 'is-family') { %>
    <p class="c-productCard__popup">きれいな大画面で<br class="u-display__block--pc">ネットショッピングや<br>動画を楽しめる</p>
  <% } %>
  <div class="c-productCard__block">
    <div class="c-productCard__ph">
      <img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/individual/top/lineup_c-7-6.png" alt>
    </div>
    <div class="c-productCard__col">
      <p class="c-productCard__title u-font__en u-display__flex--pc">
        <span class="c-productCard__mainTitle">C</span>
        <span class="c-productCard__subTitle">series (C7・C6)</span>
      </p>
      <p class="c-productCard__title u-font__en u-display__flex--sp">
        <span class="c-productCard__mainTitle">C</span>
        <span class="c-productCard__subTitle">series</span>
      </p>
      <p class="c-productCard__number u-display__block--sp"> (C7・C6)</p>
      <p class="c-productCard__name">16.0型</p>
      <p class="c-productCard__text">スタンダードノート</p>
    </div>
  </div>
</a>