<a class="c-productCard__box  c-btn__linkBase-r--5 u-hover-img-bg-cover u-hover-color--gray" href="/personal/mobile-notebook/x-series/index.html">
  <% if (cat === 'is-business') { %>
  <p class="c-productCard__popup">自分でバッテリー交換OK<br class="u-display__block--pc">高性能PCを<br>長く愛用できる</p>
  <% } %>
  <div class="c-productCard__block">
    <div class="c-productCard__ph">
      <img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/individual/top/lineup_x.png" alt>
    </div>
    <div class="c-productCard__col">
      <p class="c-productCard__title u-font__en">
        <span class="c-productCard__mainTitle">X</span>
        <span class="c-productCard__subTitle">series</span>
      </p>
      <p class="c-productCard__name">13.3型</p>
      <p class="c-productCard__text">プレミアムモバイルノート</p>
    </div>
  </div>
</a>