<a class="c-productCard__box  c-btn__linkBase-r--5 u-hover-img-bg-cover u-hover-color--gray" href="/personal/mobile-notebook/g-series/index.html">
  <% if (cat === 'is-game') { %>
  <p class="c-productCard__popup">外出時のすき間<br class="u-display__block--pc">時間にもゲームを<br class="u-display__block--pc">楽しめる</p>
  <% } %>
  <% if (cat === 'is-business') { %>
  <p class="c-productCard__popup">室内の移動がしやすく<br class="u-display__block--pc">作業も快適な抗菌<br class="u-display__block--pc">ボディ</p>
  <% } %>
  <div class="c-productCard__block">
    <div class="c-productCard__ph">
      <img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/individual/top/lineup_g.png" alt>
    </div>
    <div class="c-productCard__col">
      <p class="c-productCard__title u-font__en">
        <span class="c-productCard__mainTitle">G</span>
        <span class="c-productCard__subTitle">series</span>
      </p>
      <p class="c-productCard__name">13.3型</p>
      <p class="c-productCard__text">プレミアムモバイルノート</p>
    </div>
  </div>
</a>