<a class="c-productCard__box  c-btn__linkBase-r--5 u-hover-img-bg-cover u-hover-color--gray" href="/personal/convertible-notebook/v-series/index.html">
  <% if (cat === 'is-creative') { %>
    <p class="c-productCard__popup">Wacom製アクティブ<br class="u-display__block--pc">静電ペン付属<br class="u-display__block--pc">イラスト作成や<br class="u-display__block--pc">レタッチも自在</p>
  <% } %>
  <% if (cat === 'is-game') { %>
  <p class="c-productCard__popup">高精細な映像と<br class="u-display__block--pc">サウンドで<br>ゲームを盛り上げる</p>
  <% } %>
  <% if (cat === 'is-school') { %>
  <p class="c-productCard__popup">デジタルメモで<br class="u-display__block--pc">発想が広がる</p>
  <% } %>
  <div class="c-productCard__block">
    <div class="c-productCard__ph">
      <img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/individual/top/lineup_v.png" alt>
    </div>
    <div class="c-productCard__col">
      <p class="c-productCard__title u-font__en">
        <span class="c-productCard__mainTitle">V</span>
        <span class="c-productCard__subTitle">series</span>
      </p>
      <p class="c-productCard__name">13.3型</p>
      <p class="c-productCard__text">5 in 1 プレミアムPenノート</p>
    </div>
  </div>
</a>