<a class="c-productCard__box  c-btn__linkBase-r--5 u-hover-img-bg-cover u-hover-color--gray" href="/personal/detachable-notebook/k-series/index.html">
  <% if (cat === 'is-school') { %>
  <p class="c-productCard__popup">とことん<br class="u-display__block--pc">「こども目線」の<br class="u-display__block--pc">頑丈さと使いやすさ</p>
  <% } %>
  <div class="c-productCard__block">
    <div class="c-productCard__ph">
      <img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/individual/top/lineup_k_20250501.png" alt>
    </div>
    <div class="c-productCard__col">
      <p class="c-productCard__title u-font__en">
        <span class="c-productCard__mainTitle">K</span>
        <span class="c-productCard__subTitle">series</span>
      </p>
      <p class="c-productCard__name">10.1型</p>
      <p class="c-productCard__text">2 in 1 デタッチャブル</p>
    </div>
  </div>
</a>