<a class="c-productCard__box  c-btn__linkBase-r--5 u-hover-img-bg-cover u-hover-color--gray" href="/personal/mobile-notebook/xp-series/index.html">
  <% if (cat === 'is-creative') { %>
  <p class="c-productCard__popup">AIが<br class="u-display__block--pc">クリエイティブ作業を<br class="u-display__block--pc">効率的にサポート</p>
  <% } %>
  <% if (cat === 'is-game') { %>
  <p class="c-productCard__popup">臨場感あふれる映像で<br class="u-display__block--pc">快適にプレイできる</p>
  <% } %>
  <% if (cat === 'is-business') { %>
  <p class="c-productCard__popup">｢Copilot+ PC｣に準拠<br class="u-display__block--pc">AIが毎日を<br class="u-display__block--pc">
効率的にサポート</p>
  <% } %>
  <div class="c-productCard__block">
    <div class="c-productCard__ph">
      <img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/individual/top/lineup_xp.png" alt>
    </div>
    <div class="c-productCard__col">
      <p class="c-productCard__title u-font__en">
        <span class="c-productCard__mainTitle">XP</span>
        <span class="c-productCard__subTitle">series</span>
      </p>
      <p class="c-productCard__name">14.0型</p>
      <p class="c-productCard__text">プレミアムモバイルノート</p>
    </div>
  </div>
</a>