<a class="c-productCard__box  c-btn__linkBase-r--5 u-hover-img-bg-cover u-hover-color--gray" href="/personal/mobile-notebook/gs-series/index.html">
  <% if (cat === 'is-business') { %>
  <p class="c-productCard__popup">外出先に持ち出して<br class="u-display__block--pc">マルチタスクや<br class="u-display__block--pc">Office作業も快適</p>
  <% } %>
  <% if (cat === 'is-school') { %>
  <p class="c-productCard__popup">毎日大学に持っていける<br class="u-display__block--pc">軽量タフボディ</p>
  <% } %>
  <div class="c-productCard__block">
    <div class="c-productCard__ph">
      <img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/individual/top/lineup_gs.png" alt>
    </div>
    <div class="c-productCard__col">
      <p class="c-productCard__title u-font__en">
        <span class="c-productCard__mainTitle">GS</span>
        <span class="c-productCard__subTitle">series</span>
      </p>
      <p class="c-productCard__name">13.3型</p>
      <p class="c-productCard__text">スタンダードモバイルノート</p>
    </div>
  </div>
</a>