<a class="c-productCard__box c-btn__linkBase-r--5 u-hover-img-bg-cover u-hover-color--gray" href="/personal/standard-notebook/t-series/index.html">
  
  <% if (cat === 'is-creative') { %>
    <p class="c-productCard__popup">大画面で動画編集<br class="u-display__block--pc">などを快適に楽しめる</p>
  <% } %>
  <% if (cat === 'is-family') { %>
    <p class="c-productCard__popup">光学ドライブ搭載。<br>教材の視聴や<br class="u-display__block--pc">バックアップなど<br>幅広く活用できる</p>
  <% } %>
  <div class="c-productCard__block ">
    <div class="c-productCard__ph">
      <img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/individual/top/lineup_t.png" alt>
    </div>
    <div class="c-productCard__col">
      <p class="c-productCard__title u-font__en">
        <span class="c-productCard__mainTitle">T</span>
        <span class="c-productCard__subTitle">series</span>
      </p>
      <p class="c-productCard__name">16.0型</p>
      <p class="c-productCard__text">オールインワンノート</p>
    </div>
  </div>
</a>