$big: 1761;
$pcMax: 1440;
$pc: 1360;
$tablet: 1000;
$sp: 780;
$sp-s: 390;

$color-text-white-basic:#fff;
$color-text-gray-basic:#333;
$color-text-gray-light:#ccc;

$color-cta:#CC4B30;
$hover-color-link:#bf2123;
$hover-color-black:#ccc;
$hover-color-gray:#dadada ;
$color-text-dark:#dadada;

$color-text-red-basic:#BF2123;
$imagePath:'/sites/default/files/dynabook-b2c/assets_2025/images/';