@use 'sass:math';
@use '00_02_setting/setting' as *;
@use '00_01_common/utility' as *;
.dynabook-2025 {
  .p-product-amd{
    //↓code
    // Common
    @mixin setSizePCCus($prop, $size) {
      #{$prop}: min(#{pxToVw($size, $pcMax)}, #{$size}px);
    }
    .u-font__castoro {
      font-family: "Castoro", serif;
      font-weight: 400;
    }
    .u-font__mincho {
      font-family: "Shippori Mincho B1", serif;
      font-weight: 400;
    }
    .u-cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .c-heading__01 {
      font-family: "Castoro", serif;
      @include sizePC_d(66);
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include setSizePCCus(gap, 7);
      @include setSizePCCus(margin-bottom, 30);
      &::after {
        content: '';
        @include setSizePCCus(width, 40);
        @include setSizePCCus(height, 4);
        background-color: #CF000E;
      }
      &.is-line-black {
        &::after {
          background-color: #000;

        }
      }
      @include mediaQuery(sp) {
        font-size: pxToVw(64);
        gap: pxToVw(10);
        margin-bottom: pxToVw(50);
        &::after {
          width: pxToVw(40);
          height: pxToVw(4);
        }
      }
    }

    // Background Main
    background-color: #CF000E;
    // background-image: linear-gradient(to bottom, #CF000E 0%, #690007 100%);

    // breadcrumb
    .breadcrumb {
      background-color: #fff;
      @include setSizePC2(padding-left, padding-right, 33, 24);
      @include setSizePC2(padding-top, padding-bottom, 15, 22);
    }

    // sec-kv
    .sec-kv {
      padding-top: calc(88/1440 * 100vw);
      padding-bottom: calc(202/1440 * 100vw);
      margin-bottom: calc(-193/1440 * 100vw);
      overflow: hidden;
      position: relative;
      z-index: 2;
      @include mediaQuery(sp) {
        padding-top: pxToVw(10);
        padding-bottom: pxToVw(243);
      }
      &__inner {
        width: calc(1440/1440 * 100vw);
        margin: 0 auto;
        position: relative;
        @include mediaQuery(sp) {
          width: 100%;
        }
      }
      &__image {
        width: calc(738/1440 * 100vw);
        position: absolute;
        top: calc(-169/1440 * 100vw);
        left: calc(-78/1440 * 100vw);
        z-index: 1;
        @media screen and (min-width: 1441px) {
          width: calc(850/1920 * 100vw);
        }
        img {
          width: 100%;
          height: auto;
        }
        @include mediaQuery(sp) {
          position: static;
          width: 100%;
          padding-right: pxToVw(10);
        }
      }
      &__info {
        width: calc(536/1440 * 100vw);
        margin-left: auto;
        margin-right: calc(160/1440 * 100vw);
        @include mediaQuery(sp) {
          width: 100%;
          margin: 0;
          padding-left: pxToVw(15);
          padding-right: pxToVw(15);
        }
      }
      &__title {
        @include setSizePCCus(width, 536);
        @include setSizePCCus(margin-bottom, 30);
        @include mediaQuery(sp) {
          width: pxToVw(353);
          margin: pxToVw(4) auto pxToVw(12);
        }
      }
      &__products {
        @include setSizePCCus(margin-bottom, 22);
        @include mediaQuery(sp) {
          margin-bottom: pxToVw(30);
        }
      }
      &__logo {
        display: inline-flex;
        @include setSizePCCus(width, 121);
        @include mediaQuery(sp) {
          width: pxToVw(93);
          margin-left: pxToVw(7);
        }
      }
      &__list {
        display: flex;
        align-items: center;
        @include setSizePCCus(gap, 18);
        @include setSizePCCus(margin-top, -3);
        @include mediaQuery(sp) {
          justify-content: center;
          gap: pxToVw(15);
          margin-top: pxToVw(-3);
        }
        .item {
          @include sizePC_d(28);
          color: #000000;
          font-weight: 500;
          line-height: 1;
          span {
            @include sizePC_d(16);
          }
          @include mediaQuery(sp) {
            font-size: pxToVw(21);
            span {
              font-size: pxToVw(13);
            }
          }
        }
      }
      &__button {
        min-width: auto;
        padding: 0;
        @include setSizePCCus(width, 346);
        @include setSizePCCus(height, 90);
        @include sizePC_d(22);
        display: flex;
        justify-content: center;
        align-items: center;
        @include setSizePCCus(border-radius, 90);
        border: 2px solid #fff;
        margin: 0;
        z-index: 1;
        overflow: hidden;
        transition: all 0.3s;
        &:hover {
          background-image: linear-gradient( to bottom, #520B09, #E61D1D);
          &::before {
            display: none;
          }
        }
        @include mediaQuery(sp) {
          width: pxToVw(346);
          height: pxToVw(90);
          margin: 0 auto;
          font-size: pxToVw(22);
          border-radius: pxToVw(90);
        }
        &::after {
          @include setSizePCCus(width, 29);
          @include setSizePCCus(height, 29);
          background-image: url("data:image/svg+xml,%3Csvg width='29' height='30' viewBox='0 0 29 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14.5' cy='15' r='14.5' fill='white'/%3E%3Cpath d='M18.6666 13.1667L15 16.8334L11.3333 13.1667' stroke='%23CE000D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          margin: 0;
          filter: none;
          @include setSizePCCus(right, 30);
          @include mediaQuery(sp) {
            width: pxToVw(30);
            height: pxToVw(30);
            right: pxToVw(30);
          }
        }
        &::before {
          content: '';
          @include setSizePCCus(width, 363);
          @include setSizePCCus(height, 53);
          @include setSizePCCus(border-radius, 90);
          background-image: linear-gradient( to bottom, #000 -30%, #FF2121 100%);
          position: absolute;
          left: 50%;
          @include setSizePCCus(bottom, -8);
          transform: translateX(-50%) rotate(0.5deg);
          z-index: -1;
          @include mediaQuery(sp) {
            width: pxToVw(363);
            height: pxToVw(53);
            border-radius: pxToVw(90);
            bottom: pxToVw(-8);
          }
        }
        span {
          @include setSizePC2(margin-top, margin-left, 6, -14);
          @include mediaQuery(sp) {
            margin-top: pxToVw(6);
            margin-left: pxToVw(-14);
          }
        }
      }
    }

    // sec-about
    .sec-about {
      overflow: hidden;
      position: relative;
      z-index: 1;
      background-image: linear-gradient( 150deg, #000000 35%, #3E3E3E 100%);
      clip-path: polygon(
        100% 0, /* top-right */
        0 calc((139 / 1440) * 100vw), /* go down */
        0 calc(100% - (111 / 1440) * 100vw), /* go up */
        100% 100% /* bottom-right */
      );
      padding-top: calc(173/1440 * 100vw);
      padding-bottom: calc(168/1440 * 100vw);
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(#{$imagePath}business/amd/about_bg.png);
        background-size: 156%;
        background-position: calc(-540/1440)*100vw calc(35/1440)*100vw;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      @include mediaQuery(sp) {
        padding-top: pxToVw(106);
        padding-bottom: pxToVw(118);
        background-image: linear-gradient( 150deg, #000000 0%, #3E3E3E 35%, #3E3E3E 100%);
        clip-path: polygon(
          100% 0, /* top-right */
          0 pxToVw(30), /* go down */
          0 calc(100% - pxToVw(30)), /* go up */
          100% 100% /* bottom-right */
        );
        &::before {
          background-image: url(#{$imagePath}business/amd/about_bg_sp.png);
          background-size: 131%;
          background-position: pxToVw(-52) pxToVw(185);
        }
      }
      &__inner {
        @include setSizePCCus(width, 1120);
        margin: 0 auto;
        @include mediaQuery(sp) {
          width: 100%;
        }
      }
      .box-desc {
        @include setSizePCCus(margin-bottom, 71);
        &__txt {
          @include sizePC_d(20);
          font-weight: 400;
          color: #FFFFFF;
          line-height: 2;
          text-align: center;
          &:not(:first-of-type) {
            @include setSizePCCus(margin-top, 40);
          }
        }
        @include mediaQuery(sp) {
          margin-bottom: pxToVw(45);
          padding-left: 0.5vw;
          padding-right: 0.5vw;
          &__txt {
            font-size: pxToVw(16);
            &:not(:first-of-type) {
              margin-top: pxToVw(32);
            }
          }
        }
      }
      .box-amd {
        &.is-pro {
          background-color: rgb(143, 0, 9, 0.5);
          @include setSizePCCus(margin-top, 20);
          @include setSizePCCus(padding-bottom, 77);
          @include mediaQuery(sp) {
            padding-top: pxToVw(55);
            padding-bottom: pxToVw(54);
            margin-top: pxToVw(51);
          }
          .box-amd__list {
            @include mediaQuery(sp) {
              gap: pxToVw(25);
            }
            .item {
              &:last-child {
                @include mediaQuery(sp) {
                  margin-top: pxToVw(8);
                }
              }
            }
          }
          .box-amd__desc {
            @include setSizePCCus(margin-bottom, 31);
            @include mediaQuery(sp) {
              margin-bottom: pxToVw(45);
            }
          }
          .icon {
            background-color: #AF000C;
          }
        }
        background-color: rgb(46, 46, 46, 0.85);
        @include setSizePC4(padding, 68, 80, 83, 80);
        @include mediaQuery(sp) {
          width: pxToVw(350);
          margin: 0 auto;
          padding: pxToVw(51) pxToVw(25) pxToVw(55) pxToVw(25);
        }
        &__heading {
          @include sizePC_d(42);
          font-weight: 400;
          color: #fff;
          line-height: 1.5;
          text-align: center;
          @include setSizePCCus(margin-bottom, 3);
          span {
            @include sizePC_d(28);
          }
          @include mediaQuery(sp) {
            font-size: pxToVw(42);
            line-height: 1.2;
            margin-bottom: pxToVw(13);
            span {
              font-size: pxToVw(28);
            }
          }
        }
        &__head {
          @include sizePC_d(22);
          font-weight: 400;
          color: #fff;
          line-height: 1.5;
          text-align: center;
          @include setSizePCCus(margin-bottom, 15);
          position: relative;
          z-index: 1;
          @include mediaQuery(sp) {
            font-size: pxToVw(22);
            margin-bottom: pxToVw(34);
          }
          &::before,
          &::after {
            content: '';
            @include setSizePCCus(width, 325);
            height: 1px;
            background-color: #FFFFFF;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            @include mediaQuery(sp) {
              display: none;
            }
          }
          &::before {
            left: 0;
          }
          &::after {
            right: 0;
          }
        }
        &__desc {
          @include sizePC_d(20);
          font-weight: 600;
          color: #fff;
          line-height: 1.5;
          text-align: center;
          @include setSizePCCus(margin-bottom, 37);
          @include mediaQuery(sp) {
            font-size: pxToVw(20);
            margin-bottom: pxToVw(34);
          }
        }
        &__list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          @include setSizePCCus(gap, 30);
          @include mediaQuery(sp) {
            grid-template-columns: repeat(1, 1fr);
            gap: pxToVw(49);
          }
          .icon {
            width: 100%;
            @include setSizePCCus(height, 186);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000000;
            @include setSizePCCus(margin-bottom, 15);
            img {
              @include setSizePC2(width, height, 100, 100);
            }
            @include mediaQuery(sp) {
              height: pxToVw(186);
              margin-bottom: pxToVw(15);
              img {
                width: pxToVw(100);
                height: pxToVw(100);
              }
            }
          }
          .title {
            @include sizePC_d(21);
            font-weight: 700;
            color: #fff;
            line-height: 1.5;
            @include setSizePCCus(margin-bottom, 10);
            @include mediaQuery(sp) {
              font-size: pxToVw(21);
              margin-bottom: pxToVw(10);
            }
          }
          .text {
            @include sizePC_d(16);
            font-weight: 400;
            color: #fff;
            line-height: 1.7;
            @include mediaQuery(sp) {
              font-size: pxToVw(16);
            }
          }
          .light {
            @include setSizePCCus(height, 25);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            @include setSizePC2(padding-left, padding-right, 6, 6);
            @include sizePC_d(14);
            font-weight: 500;
            line-height: 1;
            background-color: #FFFFFF;
            color: #710001;
            @include setSizePCCus(margin-top, 13);
            @include setSizePCCus(margin-left, 2);
            @include mediaQuery(sp) {
              height: pxToVw(25);
              padding-left: pxToVw(7);
              padding-right: pxToVw(7);
              font-size: pxToVw(14);
              margin-top: pxToVw(13);
              margin-left: pxToVw(6);
            }
          }
          .note {
            display: flex;
            @include sizePC_d(12);
            font-weight: 400;
            color: #fff;
            line-height: 1.7;
            @include setSizePCCus(margin-top, 10);
            @include mediaQuery(sp) {
              font-size: pxToVw(12);
              margin-top: pxToVw(10);
            }
          }
        }
      }
    }

    // sec-why
    .sec-why {
      @include setSizePCCus(padding-top, 57);
      @include setSizePCCus(padding-bottom, 52);
      @include mediaQuery(sp) {
        padding-top: pxToVw(72);
        padding-bottom: pxToVw(36);
      }
      &__inner {
        @include setSizePCCus(width, 1120);
        margin: 0 auto;
        @include mediaQuery(sp) {
          width: 100%;
        }
      }
      &__heading {
        @include setSizePCCus(gap, 5);
        @include setSizePCCus(margin-bottom, 24);
        @include mediaQuery(sp) {
          gap: pxToVw(7);
          padding-left: pxToVw(18);
          padding-right: pxToVw(18);
          margin-bottom: pxToVw(32);
        }
      }
      &__head {
        @include sizePC_d(32);
        font-weight: 600;
        line-height: 1.5;
        color: #fff;
        text-align: center;
        @include setSizePCCus(margin-bottom, 10);
        @include mediaQuery(sp) {
          font-size: pxToVw(32);
          padding-left: pxToVw(6);
          padding-right: pxToVw(6);
          margin-bottom: pxToVw(25);
        }
      }
      &__desc {
        @include sizePC_d(20);
        font-weight: 400;
        line-height: 2;
        color: #fff;
        text-align: center;
        @include setSizePCCus(margin-bottom, 72);
        @include mediaQuery(sp) {
          font-size: pxToVw(20);
          padding-left: pxToVw(10);
          padding-right: pxToVw(10);
          margin-bottom: pxToVw(45);
        }
      }
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include setSizePCCus(gap, 40);
        @include mediaQuery(sp) {
          grid-template-columns: repeat(1, 1fr);
          gap: pxToVw(45);
          padding-left: pxToVw(16);
          padding-right: pxToVw(16);
        }
        .item {
          &-02 {
            @include mediaQuery(sp) {
              .image {
                margin-bottom: pxToVw(24);
              }
              .title {
                margin-bottom: pxToVw(13);
              }
            }
          }
        }
        .image {
          @include setSizePCCus(margin-bottom, 8);
          @include mediaQuery(sp) {
            padding-left: pxToVw(2);
            padding-right: pxToVw(2);
            margin-bottom: pxToVw(6);
          }
        }
        .title {
          @include sizePC_d(32);
          font-weight: 600;
          line-height: 1.5;
          color: #fff;
          @include setSizePCCus(margin-bottom, 13);
          @include mediaQuery(sp) {
            font-size: pxToVw(32);
            margin-bottom: pxToVw(7);
            margin-right: -3vw;
          }
        }
        .text {
          @include sizePC_d(18);
          font-weight: 400;
          line-height: 2;
          color: #fff;
          @include mediaQuery(sp) {
            font-size: pxToVw(18);
          }
        }
        .note {
          &-wrap {
            @include setSizePCCus(margin-top, 14);
            @include mediaQuery(sp) {
              margin-top: pxToVw(14);
            }
          }
          display: flex;
          @include sizePC_d(12);
          font-weight: 400;
          line-height: 2;
          color: #fff;
          @include mediaQuery(sp) {
            font-size: pxToVw(12);
          }
        }
      }
    }

    // sec-dynabook
    .sec-dynabook {
      background-image: linear-gradient(135deg, #6D0007, #000000);
      clip-path: polygon(
        100% 0, /* top-right */
        0 calc((111 / 1440) * 100vw), /* go down */
        0 calc(100% - (111 / 1440) * 100vw), /* go up */
        100% 100% /* bottom-right */
      );
      @include setSizePCCus(padding-top, 182);
      @include setSizePCCus(padding-bottom, 180);
      @include mediaQuery(sp) {
        padding-top: pxToVw(87);
        padding-bottom: pxToVw(100);
        clip-path: polygon(
          100% 0, /* top-right */
          0 pxToVw(30), /* go down */
          0 calc(100% - pxToVw(30)), /* go up */
          100% 100% /* bottom-right */
        );
      }
      &__inner {
        @include setSizePCCus(width, 1120);
        margin: 0 auto;
        @include mediaQuery(sp) {
          width: 100%;
        }
      }
      &__heading {
        @include mediaQuery(sp) {
          line-height: 1.2;
          margin-bottom: pxToVw(44);
        }
      }
      &__desc {
        @include sizePC_d(32);
        font-weight: 600;
        line-height: 1.5;
        color: #fff;
        text-align: center;
        @include setSizePCCus(margin-bottom, 88);
        @include mediaQuery(sp) {
          font-size: pxToVw(32);
          padding-left: 6vw;
          padding-right: 6vw;
          margin-bottom: pxToVw(65);
        }
      }
      &__list {
        @include mediaQuery(sp) {
          padding-left: pxToVw(20);
          padding-right: pxToVw(20);
        }
        .item {
          &:not(:first-child) {
            @include setSizePCCus(margin-top, 73);
            @include mediaQuery(sp) {
              margin-top: pxToVw(55);
            }
          }
          &.item-03 {
            @include mediaQuery(sp) {
              margin-top: pxToVw(82);
              .text {
                font-size: pxToVw(18);
              }
            }
          }
          &.item-04 {
            @include mediaQuery(sp) {
              .text {
                font-size: pxToVw(18);
              }
            }
          }
          display: flex;
          align-items: flex-start;
          @include setSizePCCus(gap, 54);
          @include mediaQuery(sp) {
            flex-direction: column;
            gap: pxToVw(30);
          }
        }
        .image {
          @include setSizePCCus(width, 540);
          @include mediaQuery(sp) {
            width: 100%;
          }
        }
        .info {
          flex: 1;
          @include setSizePCCus(margin-top, -7);
        }
        .label {
          @include sizePC_d(22);
          font-weight: 400;
          line-height: 1.5;
          color: rgb(255, 255, 255, 0.5);
          @include mediaQuery(sp) {
            font-size: pxToVw(22);
          }
        }
        .title {
          @include sizePC_d(32);
          font-weight: 600;
          line-height: 1.5;
          color: #fff;
          @include setSizePCCus(margin-bottom, 15);
          @include mediaQuery(sp) {
            font-size: pxToVw(32);
            margin-left: -0.5vw;
            margin-right: -4vw;
            margin-bottom: pxToVw(15);
          }
        }
        .text {
          @include sizePC_d(18);
          font-weight: 500;
          line-height: 2;
          color: #fff;
          @include mediaQuery(sp) {
            font-size: pxToVw(16);
            word-break: break-all;
          }
        }
        .note {
          &-wrap {
            @include setSizePCCus(margin-top, 15);
            @include mediaQuery(sp) {
              margin-top: pxToVw(15);
            }
          }
          @include sizePC_d(12);
          font-weight: 400;
          line-height: 2;
          color: #fff;
          @include mediaQuery(sp) {
            font-size: pxToVw(12);
          }
        }
      }
    }

    // sec-PCLineup
    .sec-PCLineup {
      background-image: linear-gradient(155deg, #6D0007, #CF000E);
      @include setSizePCCus(margin-top, -120);
      @include setSizePCCus(padding-top, 120);
      @include mediaQuery(sp) {
        margin-top: pxToVw(-40);
        padding-top: pxToVw(40);
      }
      &__inner {
        @include setSizePCCus(width, 1120);
        margin: 0 auto;
        @include setSizePCCus(padding-top, 40);
        @include setSizePCCus(padding-bottom, 120);
        @include mediaQuery(sp) {
          width: 100%;
          padding-top: pxToVw(50);
          padding-left: pxToVw(20);
          padding-right: pxToVw(20);
          padding-bottom: pxToVw(72);
        }
      }
      &__heading {
        @include setSizePCCus(margin-bottom, 37);
        @include mediaQuery(sp) {
          display: none;
        }
      }
      .box-product {
        background-color: rgb(0, 0, 0, 0.2);
        @include setSizePCCus(padding-top, 80);
        @include setSizePCCus(padding-bottom, 80);
        @include setSizePCCus(padding-left, 80);
        @include setSizePCCus(padding-right, 80);
        @include setSizePCCus(margin-bottom, 18);
        position: relative;
        @include mediaQuery(sp) {
          padding: pxToVw(83) 0 pxToVw(47) 0;
          margin-bottom: pxToVw(22);
        }
        &__lblnew {
          @include setSizePCCus(height, 50);
          @include setSizePC2(padding-left, padding-right, 30, 30);
          @include setSizePCCus(padding-top, 5);
          background-color: #BAAB22;
          display: flex;
          justify-content: center;
          align-items: center;
          @include sizePC_d(24);
          font-weight: 400;
          color: #000;
          line-height: 1;
          position: absolute;
          top: 0;
          left: 0;
          @include mediaQuery(sp) {
            height: pxToVw(50);
            padding-left: pxToVw(30);
            padding-right: pxToVw(30);
            font-size: pxToVw(24);
          }
        }
        &__header {
          display: flex;
          align-items: center;
          @include setSizePCCus(gap, 20);
          @include setSizePCCus(margin-bottom, 15);
          @include mediaQuery(sp) {
            flex-direction: column;
            gap: pxToVw(23);
            align-items: flex-start;
            padding-left: pxToVw(20);
            padding-right: pxToVw(20);
            margin-bottom: pxToVw(15);
          }
        }
        &__logo {
          @include setSizePCCus(width, 162);
          @include mediaQuery(sp) {
            width: pxToVw(162);
          }
        }
        &__desc {
          @include sizePC_d(24);
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.05em;
          color: #fff;
          position: relative;
          z-index: 1;
          @include mediaQuery(sp) {
            font-size: pxToVw(24);
          }
        }
        &__title {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          @include setSizePCCus(gap, 10);
          font-weight: 500;
          color: #fff;
          line-height: 1;
          &--main {
            @include sizePC_d(58);
            @include setSizePCCus(margin-bottom, -10);
          }
          &--sub {
            @include sizePC_d(29);
          }
          @include mediaQuery(sp) {
            gap: pxToVw(10);
            &--main {
              font-size: pxToVw(58);
              margin-bottom: pxToVw(-10);
            }
            &--sub {
              font-size: pxToVw(29);
            }
          }
        }
        &__name {
          background-color: #fff;
          color: #8E0009;
          @include sizePC_d(16);
          font-weight: 500;
          line-height: 1;
          @include setSizePCCus(height, 24);
          @include setSizePC2(padding-left, padding-right, 6, 6);
          display: flex;
          justify-content: center;
          align-items: center;
          @include mediaQuery(sp) {
            font-size: pxToVw(16);
            height: pxToVw(24);
            padding-left: pxToVw(6);
            padding-right: pxToVw(6);
          }
        }
        &__image {
          width: fit-content;
          position: absolute;
          top: 50%;
          @include setSizePCCus(right, 80);
          transform: translateY(-50%);
          &--img {
            @include setSizePCCus(width, 255);
          }
          @include mediaQuery(sp) {
            position: static;
            transform: none;
            margin: 0 auto pxToVw(37);
            &--img {
              width: pxToVw(257);
            }
          }
        }
        &__button {
          min-width: unset;
          @include setSizePCCus(width, 216);
          @include setSizePCCus(padding-top, 16);
          @include setSizePCCus(padding-bottom, 16);
          @include setSizePCCus(padding-left, 10);
          @include setSizePCCus(margin-top, 10);
          @include sizePC_d(18);
          margin-right: 0;
          background-color: #fff;
          color: #960009;
          font-weight: 700;
          overflow: hidden;
          position: relative;
          &::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6.6665 5.33301L9.33317 7.99967L6.6665 10.6663' stroke='%23960009' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            filter: none;
            @include setSizePCCus(right, 30);
          }
          &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgb(0, 0, 0, 0);
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s;
          }
          &:hover {
            &::before {
              background-color: rgb(0, 0, 0, 0.3);
            }
          }
          @include mediaQuery(sp) {
            width: pxToVw(216);
            padding-top: pxToVw(16);
            padding-bottom: pxToVw(16);
            padding-left: pxToVw(10);
            margin-top: pxToVw(30);
            margin-left: auto;
            margin-right: auto;
            font-size: pxToVw(18);
            &::after {
              right: pxToVw(30);
            }
          }
        }
        &__cpu {
          &--wrap {
            display: flex;
            align-items: flex-end;
            @include setSizePCCus(gap, 12);
            @include setSizePCCus(margin-bottom, 20);
            @include mediaQuery(sp) {
              flex-direction: column;
              align-items: flex-start;
              gap: pxToVw(22);
              margin-bottom: pxToVw(25);
            }
          }
          display: flex;
          align-items: stretch;
          color: #fff;
          @include sizePC_d(13);
          font-weight: 500;
          @include setSizePCCus(height, 50);
          overflow: hidden;
          @include mediaQuery(sp) {
            width: 100%;
            font-size: pxToVw(13);
            height: pxToVw(50);
          }
          &--label {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            @include setSizePCCus(padding-left, 10);
            @include setSizePCCus(padding-right, 10);
            @include mediaQuery(sp) {
              padding-left: pxToVw(10);
              padding-right: pxToVw(10);
            }
          }
          &--arrow {
            content: '';
            @include setSizePCCus(width, 13);
            @include setSizePCCus(height, 50);
            background-image: url(#{$imagePath}business/amd/pclineup_arrow_01.png);
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            @include setSizePCCus(margin-left, -1);
            @include setSizePCCus(margin-right, -1);
            @include mediaQuery(sp) {
              width: pxToVw(13);
              height: pxToVw(50);
              margin-left: pxToVw(-1);
              margin-right: pxToVw(-1);
            }
          }
          &--value {
            @include setSizePCCus(padding-left, 10);
            @include setSizePCCus(padding-right, 10);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #000;
            @include mediaQuery(sp) {
              flex: 1;
              padding-left: pxToVw(5);
              padding-right: pxToVw(5);
            }
          }
        }
        &__logos {
          flex: 1;
          display: flex;
          align-items: flex-end;
          @include setSizePCCus(gap, 8);
          @include mediaQuery(sp) {
            width: 100%;
            gap: pxToVw(7);
            align-items: center;
            padding-left: pxToVw(20);
            padding-right: pxToVw(20);
          }
          &--item {
            @include setSizePCCus(width, 73);
            display: inline-flex;
            &.is-text {
              @include setSizePCCus(width, 50);
              @include setSizePCCus(height, 50);
              border-radius: 50%;
              background-color: #595758;
              color: #fff;
              @include sizePC_d(14);
              font-weight: 500;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              line-height: 1.3;
            }
            @include mediaQuery(sp) {
              width: pxToVw(73);
              &.is-text {
                width: pxToVw(50);
                height: pxToVw(50);
                font-size: pxToVw(14);
                margin-left: pxToVw(15);
              }
            }
          }
        }
        &__detail {
          @include setSizePCCus(width, 710);
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          @include setSizePCCus(gap, 10);
          @include mediaQuery(sp) {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: pxToVw(10);
            padding-left: pxToVw(20);
            padding-right: pxToVw(20);
          }
          &--item {
            @include sizePC_d(14);
            font-weight: 500;
            @include setSizePCCus(min-height, 25);
            line-height: 1;
            display: flex;
            align-items: stretch;
            overflow: hidden;
            &.is-no-label {
              .box-product__detail--value {
                border-width: 1px;
              }
            }
            &.is-powered {
              @include mediaQuery(sp) {
                min-height: pxToVw(46);
              }
            }
            @include mediaQuery(sp) {
              font-size: pxToVw(14);
              line-height: 1.2;
              min-height: pxToVw(25);
            }
          }
          &--label {
            display: inline-flex;
            align-items: center;
            color: #720008;
            @include setSizePCCus(margin-right, -8);
            flex-shrink: 0;
            position: relative;
            z-index: 2;
            @include mediaQuery(sp) {
              margin-right: pxToVw(-8);
            }
            &::before {
              content: '';
              display: block;
              clip-path: polygon(0% 0%, calc(100% - (10/1440)*100vw) 0%, 100% 50%, calc(100% - (10/1440)*100vw) 100%, 0 100%);
              background-color: #fff;
              position: absolute;
              top: 0;
              @include setSizePCCus(right, -6);
              width: 100%;
              height: 100%;
              z-index: 0;
              @include mediaQuery(sp) {
                clip-path: polygon(0% 0%, calc(100% - pxToVw(10)) 0%, 100% 50%, calc(100% - pxToVw(10)) 100%, 0 100%);
                right: pxToVw(-6);
              }
            }
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: -4px;
              width: 100%;
              height: 100%;
              display: block;
              clip-path: polygon(0% 0%, calc(100% - (10/1440)*100vw) 0%, 100% 50%, calc(100% - (10/1440)*100vw) 100%, 0 100%);
              background-color: #750008;
              z-index: 1;
              @include setSizePCCus(right, -4);
              @include mediaQuery(sp) {
                right: pxToVw(-4);
                clip-path: polygon(0% 0%, calc(100% - pxToVw(10)) 0%, 100% 50%, calc(100% - pxToVw(10)) 100%, 0 100%);
              }
            }
            .text {
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #fff;
              clip-path: polygon(0% 0%, calc(100% - (10/1440)*100vw) 0%, 100% 50%, calc(100% - (10/1440)*100vw) 100%, 0 100%);
              z-index: 2;
              @include setSizePC4(padding, 2, 12, 2, 8);
              @include mediaQuery(sp) {
                padding: pxToVw(2) pxToVw(12) pxToVw(2) pxToVw(8);
                clip-path: polygon(0% 0%, calc(100% - pxToVw(10)) 0%, 100% 50%, calc(100% - pxToVw(10)) 100%, 0 100%);
              }
            }
          }
          &--value {
            display: inline-flex;
            align-items: center;
            background-color: transparent;
            color: #fff;
            border-width: 1px 1px 1px 0;
            border-style: solid;
            border-color: #fff;
            @include setSizePC4(padding, 2, 5, 2, 20);
            position: relative;
            z-index: 1;
            @include mediaQuery(sp) {
              flex: 1;
              padding: pxToVw(2) pxToVw(5) pxToVw(2) pxToVw(20);
            }
            .small {
              @include sizePC_d(12);
              @include mediaQuery(sp) {
                font-size: pxToVw(12);
              }
            }
            .option {
              display: inline-flex;
              align-items: center;
              line-height: 1;
              background-color: #595757;
              @include sizePC_d(12);
              @include setSizePC4(padding, 4, 4, 4, 4);
              @include setSizePCCus(margin-left, 4);
              @include mediaQuery(sp) {
                font-size: pxToVw(12);
                padding: pxToVw(3) pxToVw(4);
                margin-left: pxToVw(4);
              }
            }
            .num {
              @include sizePC_d(9);
              line-height: 1;
              position: relative;
              @include setSizePCCus(top, -2);
              &.is-03 {
                @include setSizePCCus(top, -5);
              }
              @include mediaQuery(sp) {
                font-size: pxToVw(9);
                top: pxToVw(-2);
                &.is-03 {
                  top: pxToVw(-5);
                }
              }
            }
          }
        }
      }
      .box-product-02 {
        .box-product__header {
          margin-bottom: 0;
        }
        .box-product__image {
          top: calc(50% - (20/1440) * 100vw);
          &--img {
            @include setSizePCCus(width, 241);
            @include mediaQuery(sp) {
              width: pxToVw(241);
            }
          }
        }
        .box-product__title {
          flex-direction: column;
          align-items: flex-start;
          @include setSizePCCus(gap, 5);
          &--main {
            display: flex;
            align-items: center;
            @include mediaQuery(sp) {
              position: relative;
              margin-bottom: 0;
            }
          }
          &--sub {
            @include setSizePCCus(margin-top, 15);
            @include mediaQuery(sp) {
              margin: 0;
              position: absolute;
              bottom: pxToVw(-18);
              right: 0;
            }
          }
          &--logo {
            display: inline-block;
            @include setSizePCCus(width, 157);
            @include mediaQuery(sp) {
              width: pxToVw(157);
            }
          }
        }
      }
      .box-product-03 {
        .box-product__image {
          &--img {
            @include setSizePCCus(width, 240);
            @include mediaQuery(sp) {
              width: pxToVw(250);
            }
          }
        }
      }
      .box-product-04 {
        margin-bottom: 0;
        .box-product__image {
          &--img {
            @include setSizePCCus(width, 205);
            @include mediaQuery(sp) {
              width: pxToVw(205);
            }
          }
        }
        .box-product__logos {
          @include mediaQuery(sp) {
            gap: 0;
          }
          &--item {
            @include setSizePCCus(width, 144);
            @include mediaQuery(sp) {
              width: pxToVw(144);
            }
            &.is-text {
              @include setSizePCCus(width, 50);
              @include setSizePCCus(height, 50);
              @include mediaQuery(sp) {
                width: pxToVw(50);
                height: pxToVw(50);
                margin-left: pxToVw(10);
              } 
            }
          }
        }
      }
      .box-notes {
        @include setSizePCCus(margin-top, 12);
        @include mediaQuery(sp) {
          margin-top: pxToVw(49);
        }
        &__txt {
          display: flex;
          @include sizePC_d(12);
          font-weight: 400;
          line-height: 2;
          color: #FFFFFF;
          span {
            flex-shrink: 0;
          }
          @include mediaQuery(sp) {
            display: block;
            font-size: pxToVw(12);
          }
        }
      }
    }

    // sec-contact
    .sec-contact {
      background-color: #FFFFFF;
      @include mediaQuery(sp) {
        display: none
      }
      &__inner {
        @include setSizePCCus(width, 1120);
        margin: 0 auto;
        @include setSizePCCus(padding-top, 120);
        @include setSizePCCus(padding-bottom, 120);
      }
      &__list {
        background-color: #222222;
        @include setSizePCCus(padding-top, 40);
        @include setSizePCCus(padding-right, 64);
        @include setSizePCCus(padding-bottom, 40);
        @include setSizePCCus(padding-left, 64);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include setSizePCCus(gap, 32);
        @include setSizePCCus(margin-bottom, 80);
        .item {
          @include setSizePCCus(height, 104);
          background-color: #fff;
          border: 1px solid #fff;
          @include setSizePCCus(border-radius, 10);
          overflow: hidden;
          cursor: pointer;
          position: relative;
          &::after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgb(0, 0, 0, 0);
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s;
          }
          &:hover {
            &::after {
              background-color: rgb(0, 0, 0, 0.3);
            }
          }
          &-01 {
            .icon {
              img {
                @include setSizePCCus(width, 65);
              }
            }
          }
          &-02 {
            .icon {
              img {
                @include setSizePCCus(width, 31);
              }
            }
          }
        }
        .link {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          @include setSizePC4(padding, 10, 10, 10, 10);
        }
        .icon {
          @include setSizePCCus(width, 128);
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          flex-shrink: 0;
          &::after {
            content: '';
            width: 1px;
            @include setSizePCCus(height, 64);
            background-color: #E5E3E3;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
        .text {
          flex: 1;
          @include sizePC_d(18);
          font-weight: 500;
          color: #000000;
          line-height: 1.5;
          text-align: center;
        }
      }
      &__heading {
        @include sizePC_d(32);
        font-weight: 700;
        color: #333333;
        position: relative;
        display: flex;
        align-items: center;
        @include setSizePCCus(gap, 10);
        @include setSizePCCus(margin-bottom, 38);
        &::before {
          content: '';
          @include setSizePCCus(width, 10);
          @include setSizePCCus(height, 10);
          background-color: #999999;
          border-radius: 50%;
          flex-shrink: 0;
        }
      }
      &__desc {
        @include sizePC_d(16);
        font-weight: 500;
        line-height: 1.75;
        color: #333333;
        @include setSizePCCus(margin-bottom, 25);
      }
      &__button {
        &--wrap {
          background-color: #F6F6F6;
          @include setSizePC4(padding, 40, 40, 40, 40);
        }
        @include setSizePCCus(width, 544);
        @include setSizePCCus(height, 104);
        @include setSizePCCus(border-radius, 100);
        margin: 0 auto;
        @include setSizePC4(padding, 20, 20, 20, 20);
        background-color: #CC4B30;
        display: flex;
        justify-content: center;
        align-items: center;
        @include sizePC_d(20);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        position: relative;
        @include setSizePCCus(gap, 28);
        transition: all 0.3s;
        &:hover {
          filter: contrast(300%) grayscale(100%) saturate(0%);
        }
        &::before {
          content: '';
          @include setSizePCCus(width, 36);
          @include setSizePCCus(height, 36);
          background-image: url(#{$imagePath}business/amd/contact_icon_03.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          flex-shrink: 0;
        }
      }
    }
    //↑code
  }
}