@use 'sass:math';
@use '00_02_setting/setting' as *;
@use '00_01_common/utility' as *;
.dynabook-2025 {
  .u-img {
    width: 100%;
    vertical-align: top;
  }

  .u-img__fit--cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .u-img__fit--contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .u-img__fit--contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .u-svg-filter{
    &::before,&::after{
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }
  }
}
