@use 'sass:math';
@use '00_02_setting/setting' as *;
@use '00_01_common/utility' as *;

.dynabook-2025__main {
  .p-breadcrumb {
    box-sizing: border-box;
    @include setSizePC4(padding, 18, 24, 18, 24);
    @include mediaQuery(sp) {
      padding: pxToVw(15) pxToVw(20);
    }
    display: block;
    color: #666;
    a {
      color: #666;
      &:visited,
      &:link {
        color: #666;
      }
      &:hover {
        text-decoration: none;
        color: $hover-color-link;
      }
    }
  }

  .dbk-breadcrumb__list-item {
    display: inline-block;
    a,
    span {
      @include sizePC(12);
      line-height: 1;
      @include mediaQuery(sp) {
        font-size: pxToVw(10);
      }
    }

    &::after {
      display: inline-block;
      content: '';
      @include setSizePC(width, 16);
      aspect-ratio: 1/1;
      background-image: url(#{$imagePath}common/arrow_breadcrumb.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      vertical-align: -0.4em;
      @include mediaQuery(sp) {
        width: pxToVw(16);
        // vertical-align: -0.7em;
      }
    }
    &:last-child {
      color:#bf2123;
      &::after {
        content: none;
        display: none;
      }
    }
  }

  .l-container__headlines.pg-title {
    background-color: #fff;
    box-sizing: border-box;
    // @include setSizePC4(padding, 54, 0, 54, 0);
    // @include setSizePC(width, 1120);
    // margin: 0 auto;
    @include mediaQuery(sp) {
      width: 100%;
      // padding: pxToVw(35) pxToVw(20);
    }

    .pg-title__inner{
      width: 100%;
      max-width: 1160px;
      margin: 0 auto;
      padding: 0 20px;
      box-sizing: border-box;
      @include mediaQuery(sp){
        padding:0 20px;
      };
    }
    
    .pg-title__ttle {
      position: relative;
      display: block;
      @include sizePC_d(40);
      font-weight: 700;
      box-sizing: border-box;
      line-height: 1.2;
      @include setSizePC(padding-left, 20);
      @include mediaQuery(sp) {
        font-size: pxToVw(26);
        padding-left: pxToVw(20);
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        @include setSizePC(width, 10);
        aspect-ratio: 1/1;
        background-color: #999;
        border-radius: 50%;
        transform: translate(0, -50%);
        @include mediaQuery(sp) {
          width: pxToVw(10);
          margin-right: pxToVw(10);
        }
      }
    }
  }
}

.dynabook-2025__main .l-container__inner:has(>.p-breadcrumb){
   width:100%;
   max-width: 100%;
   padding:0px;
}

.dynabook-2025__main .p-breadcrumb{
  font-family: 'Noto Sans JP', 'メイリオ', Meiryo, 'Hiragino Kaku Gothic ProN', 'MS PGothic', sans-serif;
}