<a class="btn-store__fix" href="/business/contact.html" id="b_toiawase02">
  <picture>
    <source srcset="<%= pageData.assetPath %>images/business/solution/top/btn_shop_scroll_tab_sp.png" media="(max-width: 780px)">
    <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/btn_shop_scroll_tab.png" alt="お問い合わせ・お見積り">
  </picture>
</a>